<div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/procesos">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Procesos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carpetaFTP">
            <i class="fas fa-fw fa-folder"></i>
            <span>Carpeta SFTP</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graficos">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Graficos</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parametria">
            <i class="fas fa-fw fa-table"></i>
            <span>Parametria</span></a>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color:#fefefe;">

        <div class="container">

        </div>
      </div>
      <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
