<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header"><img src="/images/logos/Color.png" class="img-responsive" alt="Minuto"></div>
    <div class="card-body">
      <div class="text-center mt-4 mb-5">
        <h4>Olvidaste tu contrase침a?</h4>
        <p>Ingres치 tu email y nos encargaremos de enviarte instrucciones de como recuperarla.</p>
      </div>
      <form action="/recuperar" autocomplete="off" method="POST">
        {{{error}}}
        {{#if errores}}
          {{#each errores}}
            <div class='alert alert-danger' role='alert'>{{this}}</div>
          {{/each}}
        {{/if}}
        <div class="form-group">
          <input class="form-control" name="email" type="email" aria-describedby="emailHelp" placeholder="Ingres치 tu email">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Recuperar Contrase침a</button>
      </form>
      <div class="text-center">
        <a class="d-block small" href="/">Volver al Inicio</a>
      </div>
    </div>
  </div>
</div>
